/web/bundles/
/app/bootstrap*
/app/cache/*
/app/logs/*
/vendor/
/app/config/parameters.yml
composer.phar
/vendor/composer
/vendor/composer/autoload_namespaces.php
/vendor/composer/autoload_namespaces.php
/vendor/composer/autoload_namespaces.php
